/*Declare global variable*/
:root {
  --primary-color: #ffffff;
  --secondary-color: rgb(255, 255, 255);
  --primary-text-color: #000000;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #f5f5f5;
}

body {
  margin: auto;
  padding: auto;
  color: #5a5151;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr) 0.2fr;
  grid-template-areas:
    "b t t t t t n"
    "b m m m m m n"
    "b m m m m m n"
    "b m m m m m n"
    "b m m m m m n"
    "b m m m m m n"
    "b f f f f f n";
}

.message-list {
  grid-area: m;
}

.send-message {
  grid-area: f;
}

.message {
  margin: 15px 0;
}

.empty-area {
  grid-area: b;
  background-color: white;
}

.empty-area2 {
  grid-area: n;
  background-color: white;
}

.title-area {
  grid-area: t;
  background-color: rgb(255, 174, 0);
  border-radius: 25px 25px 0px 0px;
}

.title-area .title-font {
  padding-top: 20px;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
}

.message .message-username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: var(--primary-color);
  opacity: 0.9;
  margin-bottom: 6px;
  margin-left: 20px;
}
.message .message-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: var(--primary-color);
  color: var(--primary-text-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
  margin-left: 20px;
}

.message .message-time {
  font-size: 7px;
  color: var(--primary-color);
  opacity: 0.9;
  padding-left: 5px;
  display: inline;
}

/* .message .message-username-me {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: var(--primary-color);
  opacity: 0.9;
  margin-bottom: 6px;
  margin-left: 860px;
} */

.message .message-text-me {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: black;
  color: white;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 1.25%;
}

.message .message-time-me {
  font-size: 7px;
  color: var(--primary-color);
  opacity: 0.9;
  padding-left: 88%;
  margin-right: 7px;
  display: inline;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 174, 0);
}

.rectangle-box {
  width: 500%;
  height: 100%;
  background-color: rgb(255, 174, 0);
  border-radius: 0px 0px 25px 25px;
}

.send-message {
  display: flex;
  margin: auto;
  width: 95%;
  padding-top: 20px;
}

.send-message input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: #ffffff;
  font-weight: 200;
  border: solid #ffffff;
  border-radius: 25px;
}

.send-message input::placeholder {
  color: slategray;
  font-style: oblique;
}

.date {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10%;
  border-radius: 8px;
  background: rgba(248, 248, 248, 0.39);
}

.date .date-text {
  text-align: center;
  font-size: 9px;
  color: beige;
  position: relative;
}
