/*Declare global variable*/
:root {
  --primary-font: "Oxygen";
  --primary-color: #ffffff;
  --secondary-color: rgb(255, 255, 255);
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --send-message-form: #f5f5f5;
  --message-bubble: rgb(249, 249, 249);
  --my-message-bubble: rgb(62, 62, 62);
  --primary-background-color: rgb(58, 58, 58);
}

body {
  overflow: hidden;
  background-color: var(--primary-background-color);
  position: relative;
  margin: auto;
  height: auto;
  min-height: 100% !important;
}

.chat-rooms {
  max-height: 100vh;
  width: 20%;
  display: inline-block;
}

.chat-box {
  height: 95vh;
  min-width: 700px;
  width: 80%;
  padding: 20pt;
  border-radius: 20px;
  box-sizing: border-box;
  background: linear-gradient(135deg, rgb(255, 189, 67) 40%, rgb(250, 166, 95));
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
  margin: 25px auto;
}

.chat-area {
  width: 100%;
  height: 86%;
  display: inline-flex;
  padding-bottom: 10px;
}

.message-slot,
.my-message-slot {
  position: relative;
  width: 100%;
  font-family: var(--primary-font);
}

.my-message-slot {
  margin: 3pt 0;
  display: flex;
  justify-content: flex-end;
}

.message-bubble,
.my-message-bubble {
  font-size: 15px;
  padding: 8pt;
  border-radius: 8px;
  max-width: 250px;
  display: inline-block;
  word-wrap: break-word;
}

.message-bubble {
  color: var(--primary-text-color);
  background: var(--message-bubble);
}

.my-message-bubble {
  color: var(--secondary-color);
  background: var(--my-message-bubble);
  margin-right: 15px;
}

.message-time,
.my-message-time {
  font-size: 10pt;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 0.9;
}

.message-time {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 8pt;
}

.my-message-time {
  padding-right: 8pt;
  bottom: 0;
}

.message-slot .message-sender {
  font-family: var(--primary-font);
  font-size: 15px;
  color: var(--primary-color);
  margin: 4pt 0pt;
  opacity: 0.9;
}

.empty-area {
  grid-area: b;
  background-color: white;
}

.empty-area2 {
  grid-area: n;
  background-color: white;
}

.title-font {
  height: 10%;
  padding: 0pt 10pt;
  font-family: var(--primary-font);
  font-size: 75px;
  color: white;
}

.message-list {
  width: 100%;
  max-height: 100%;
  margin-top: auto;
  overflow-y: overlay;
}

.message-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.message-list::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.message-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.5);
}

.send-message {
  margin: 5pt auto;
  width: 100%;
  box-sizing: border-box;
}

.send-message input {
  width: 100%;
  padding: 4pt 10pt;
  border-style: none;
  background: #ffffff;
  font-weight: 200;
  border: solid #ffffff;
  border-radius: 25px;
}

.send-message input::placeholder {
  color: slategray;
  font-style: oblique;
}

.send-message input:focus {
  outline: none !important;
}

.date {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10%;
  border-radius: 8px;
  background: rgba(248, 248, 248, 0.39);
}

.date .date-text {
  text-align: center;
  font-size: 9px;
  color: beige;
  position: relative;
}
