/*Declare global variable*/
:root {
  --primary-color: #f88603b6;
  --secondary-color: rgb(255, 255, 255);
  --primary-text-color: #000000;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #f5f5f5;
}

body {
  margin: auto;
  padding: auto;
  color: #5a5151;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "b m m m m m n"
    "b m m m m m n"
    "b m m m m m n"
    "b m m m m m n"
    "b m m m m m n"
    "b f f f f f n";
}

.message-list {
  grid-area: m;
}

.send-message {
  grid-area: f;
}

.message {
  margin: 15px 0;
}

.empty-area {
  grid-area: b;
  background-image: url(../images/sidebar_left.png);
}

.empty-area2 {
  grid-area: n;
  background-image: url(../images/sidebar_right.png);
}

.message .message-username {
  font-size: 11px;
  color: var(--primary-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: var(--primary-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message .message-time {
  font-size: 7px;
  color: var(--primary-text-color);
  opacity: 0.9;
  padding-left: 5px;
  display: inline;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(161, 142, 114);
}

.send-message {
  display: flex;
  border: solid 4px #a5a5a5b6;
  border-radius: 10px;
}

.send-message input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: #f5eccd;
  font-weight: 200;
}

.send-message input::placeholder {
  color: slategray;
  font-style: oblique;
}

.date {
  opacity: 0.7;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 15%;
  border-radius: 8px;
  background: var(--primary-color);
}

.date .date-text {
  text-align: center;
  font-size: 9px;
  color: beige;
}
