:root {
  --primary-font: "Quicksand";
}
.container {
  width: 100%;
  height: 100%;
}

.leftpane {
  width: 33%;
  height: 100%;
  float: left;
  background-color: rgb(223, 215, 215);
  border-collapse: collapse;
}

.middlepane {
  width: 33%;
  height: 100%;
  float: left;
  background-color: rgb(223, 215, 215);
  border-collapse: collapse;
}

.rightpane {
  width: 34%;
  height: 100%;
  position: relative;
  float: right;
  background-color: rgb(223, 215, 215);
  border-collapse: collapse;
}

h1 {
  padding-top: 10%;
  font-family: var(--primary-font);
  font-size: 80px;
}

h3 {
  font-family: var(--primary-font);
  font-size: 24px;
  margin-top: -50px;
  margin-bottom: 30px;
}

.send-name {
  display: flex;
  width: 95%;
  height: 2%;
  padding-top: 2%;
  max-width: 250px;
}

img {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0;
}

.container-google-text,
.container-facebook-text {
  font-style: normal;
  font-family: var(--primary-font);
  display: inline-block;
  margin-top: 2px;
}

.container-google-text {
  color: grey;
  margin-left: -25px;
}

.container-facebook-text {
  color: white;
  margin-left: -10px;
}

.container-google-color {
  border-radius: 7px;
  border-color: white;
  background-color: white;
}

.container-facebook-color {
  border-radius: 7px;
  border-color: #034aa6;
  background-color: #034aa6;
}

.send-name input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: #ffffff;
  font-weight: 200;
  border: solid #ffffff;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.send-name input::placeholder {
  color: grey;
  font-style: normal;
  font-family: var(--primary-font);
}

p {
  color: grey;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: var(--primary-font);
}

button {
  width: 95%;
  height: 5%;
  max-width: 250px;
  margin-bottom: 5px;
}
